body {
  font-family: sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #90caf9, #e3f2fd);
  color: #333;
  text-align: center;
}

.container {
  padding: 20px;
}

.hidden {
  display: none;
}

canvas {
  background: #81d4fa;
  border: 3px solid #0288d1;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

input {
  padding: 10px;
  margin: 5px;
  width: 80%;
  max-width: 250px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}
